{% extends 'main1.html' %}
{%  block head %}
<title>owners home</title>
{% endblock %}
{% block body %}
<style type="text/css" media="all">
  .m {
    background: #63b3c6;
    border-radius: 15px;
  }
  .img {
    width: 30rem;
    height: 30rem;
  }
  
</style>
<div class="container">
  <div class="m text-center">
    <img class="img" src="{{product.image}}" alt="" />
    <h1>name : {{product.name}}</h1>
    <h1>price : {{price}}</h1>
    <h1 class="text-light">address</h1>
    <h3>name : {{address.name}}</h3>
    <h3>number : {{address.number}}</h3>
    <h3>address : </h3>
    <h4>{{address.address}}</h4>
    <form action="" method="post" accept-charset="utf-8">
      {% csrf_token %} 
    <button class="btn btn-success" type="submit">hello</button>
    </form>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
</script>
{% endblock %}