{% extends 'main1.html' %}
{%  block head %}
<title>owners home</title>
{% endblock %}
{% block body %}
<style type="text/css" media="all">
  #qty {
    background: #000000;
    color: #ffffff;
    border-radius: 50px;
  }
  .ad {
    margin-top: 5%;
  }
</style>
<div class="container">
{% for i in products %}
<div class="col-md-5 col-xl-4 col-12 m-3">
  <div class="">
    <div class="card mt-5" style="width:25rem;height:35rem;">
<div class="chead " style="height:50%;">
  
<div class="">
  <img class="" src="{{i.image}}" alt="hello" />
</div>

</div>
<div class="cbody" style="height:50%;">
  <div class="card-body">
    <h5 class="card-title">name:{{i.name}}</h5>
    <h4 class="card-text">
      price : {{i.price}}
    </h4>
    </div>
    <div class="">
      <select name="qty" id="qty">
        <option value="1">Qty 1</option>
       <option value="2">2</option> 
       <option value="3">3</option>
       <option value="4">4</option>
       opt+
      </select>
    </div>
    <div class="ad">
      <input type="radio" name="address" id="address" />
      <label for="address">Aji</label>
      <br />
           <input type="radio" name="address" id="address" />
      <label for="address">Aji</label>
      <br />
      <input type="radio" name="address" id="address" />
      <label for="address">Aji</label>
      <br />
    </div>
  </div>
</div>
</div>
  </div>
{% endfor %}
</div>
{% endblock %}