{% extends 'main1.html' %}
{%  block head %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>owners home</title>
{% endblock %}
{% block body %}
<style type="text/css" media="all">
  .container1 {
  position: relative;
  text-align: center;
  color: white;
}
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  background: #000000;
  color: #d4dcde;
}
</style>
<div class="container">
<div class="text-center w3-animate-top">
<img class="" src="" alt="" />
  
</div>
<div class="text-center w3-animate-left">
  <h1 class="">hello</h1>
</div>
  <div class="container1">
  <img class="img" src="" alt="Snow" style="width:100%;">
  <div class="centered"><a class="btn btn-primary" href="/owner" role="button">contribute</a>
</div>
</div>
</div>
{% endblock %}