{# extends 'main.html' #}
{%  block head %}
<title>hello</title>
{% endblock %}
{% block body %}
<h1>hello</h1>
<h1>hai </h1>
<img src="{{image}}" class="img-fluid" alt="...">
<form action="" method="get" accept-charset="utf-8">
<input type="text" name="name" id="name" value="" />
<input type="submit" name="submit" id="submit" value="submit" />
<button type="submit" name="c"  value="c">button</button>
</form>
<h1>{{h}}</h1>
<h1>{{text}}</h1>
<h1>{{hello}}</h1>
{% for product in products %}
<h1>{{product.name}}</h1>
{% endfor %}
{% endblock %}